.card {
	position: relative;
	padding: 2rem;
	background-color: #fff;
	border-radius: 15px;
	container-type: inline-size;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-top: 0;
		color: black;
	}

	.body {
		color: #474747;

		// The scoping works even with deep nesting
		ul {
			list-style-type: square;

			li {
				position: relative;
				color: rgb(22, 170, 22);
			}

			// Pseudo elements also work as expected when nested
			li:not(:last-child)::after {
				position: absolute;
				bottom: -3px;
				left: 10%;
				content: "";
				height: 2px;
				width: 80%;
				background-color: green;
			}
		}

		@container (width > 300px) {
			columns: 2;
		}
	}

	// Pseudo elements also work as expected
	&:not(:last-child)::after {
		position: absolute;
		top: 10%;
		right: calc(-1.5rem - 1px);
		content: "";
		height: 80%;
		width: 2px;
		background-color: #fff;
	}
}
